/* Imports */
@import "tailwindcss";
@import "./theme-light.css";
@import "./theme-dark.css";

body {
  background-color: var(--background);
  color: var(--foreground);
}

.dropdown-menu {
  background-color: var(--popover);
  color: var(--popover-foreground);
}

.wrapper {
  max-width: 80rem;
  width: 100%;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1-bold {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.h2-bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.h3-bold {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
